.git
.env
.env.*
!.env.example
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
public/storage
public/hot
tests
*.log
mysqld.log
serve.log
.phpunit.result.cache
.phpunit.cache
report
